



.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px;
  border: 1px grey solid;
  border-radius: 4px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px lightgray;
  margin: 30px;
}







.top-nav {
  background-color: #84d9bf;
  border-bottom: 2px solid black;
}







.form-button {

  background-color: #d88080;

}
.form-input {
  background-color: #84d9bf46;

}






